<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog contribution invitation</title>
    <meta description="Confirm your e-mail address">

    <style>
        .text {
            color: #6a6a6a;
            font-weight: 500;
        }
    </style>
</head>
<body style="font-family: Helvetica, sans-serif;">
    <table style="margin: 0 auto" width="600">
        <tr>
            <td>
                <h2 class="text">You've been invited to contribute to a blog.</h2>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>
                <span>Hello, @<%= usernameSelf %>. You've been invited by @<%= usernameAuthor %> to contribute to their blog "<%= blogName %>"</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>If you want to contribute to it, please click the link bellow to accept their invitation.</span>
            </td>
        </tr>
        <tr style="height: 100px;">
            <td>
                <a
                    class="text"
                    style="background-color: coral; color: #fff; font-size: 14px; text-decoration: none; padding: 10px; border-radius: 2px; margin-left: 30px"
                    href="<%= url %>"
                >
                    Accept Invite
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <span style="font-size: 15px;" class="text"><i>This link will expire at <%= expirationDate %></i></span>
            </td>
        </tr>
    </table>    
</body>
</html>